/* Смартфон 20em (320px) */
@media screen
and (max-device-width: 320px) {
  #sizes {
    display: none;
  }
  
  #messenger {
    grid-template-columns: 1fr;
  }
}

@media screen
and (min-device-width: 321px) {
  #messenger {
    grid-template-columns: 1fr 3fr 1fr;
  }

  #sizes {
    grid-column-start: 1;
  }

  #messages {
    grid-column-start: 2;
  }

  #editor {
    grid-column-start: 2;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#messenger {
  display: grid;
  grid-template-rows: 5vh 85vh 10vh;
}

#status {
  display: flex;
  justify-content: center;
  align-items: center;
}

#messages {
  grid-row-start: 2;
  overflow: auto;
}

#editor {
  display: flex;
  justify-content: space-between;
  grid-row-start: 3;
}

#message {
  width: 100%;
}
